/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  

body{
    padding: 0;
    margin: 0;   
}

p{
    margin: 0;
}

a, a:hover{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Common */
.p-cursor{
    cursor: pointer;
}

.p-flex{
    display: flex;
}

.p-flex-align-center{
    align-items: center;
}

.p-flex-jc-sb{
    justify-content: space-between;
}

.p-wrapper{
    position: relative ;
}

.p-wrapper::before{
    content: '';
    background: #f9b205;
    height: 100vh;
    width: 30vw;
    position: absolute;
    z-index: -1;
}